p {
    margin: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
}

h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 1rem 0;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 1rem 0;
}

td {
    padding: 0 0.5rem;
}

.table-borders td {
    border: 1px solid black;
}

ol {
    @apply list-decimal list-inside;
}

ul {
    @apply list-disc list-inside;
}